@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Oswald&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
}
.glass {
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.897), rgba(255, 255, 255, 0.537));
}
.glass2 {
  background: linear-gradient(to bottom left, rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0.537));
}
.transBg{
  background:  rgba(255, 255, 255, 0.897);
}
